*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/deploymentTargetDropDown.xml
/.idea/compiler.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
/gradle.properties
/app/build
.idea/gradle.xml
.idea/compiler.xml
keystore.jks
